{% load static %}
<!doctype html>
<html>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input 
    class="form-control mr-sm-2" 
    type="search" placeholder="Name" 
    aria-label="Name"
    name = 'name'
    value = "">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

{% if results_elastic %}
      <div class="txtCentrado margenSup20 grisDC">
          <h3>We found {{ count }} result{{ count|pluralize }} for your search </h3>
           </div>
               <div class="search results">
                    <h3>Results from local elasticsearch:</h3>
                    <pre>{{ results_elastic | pprint }}</pre>
                    <h3>Results from DBPedia:</h3>
                    <pre>{{ results_dbpedia | pprint }}</pre>
				</div>
{%elif not search_term %}
    <h3>Insert your search here.</h3>
{% endif %}
</html>
